.book-item {
  align-items: center;

}

.icon {
  flex: 0 0 50px;
  height: 50px;
  margin-right: 16px;
}

.title {
  flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
  hyphens: auto;
}

.button-group {
  display: flex;
  gap: 8px; /* Espaço entre os botões */
}
