ion-select {
    padding-left: 20px;
    color: black;
}

div.flex {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
