.ion-palette-dark ion-icon {
  --ion-text-color-rgb: rgb(12, 11, 11);
}

.ion-palette-dark ion-button {
  --background: rgb(4, 138, 104);
  color: white;
}
.ion-palette-dark ion-toolbar {
  --background: rgb(219, 162, 3);
}
.ion-palette-dark ion-tab-bar {
  --background: rgb(7, 6, 6);
  --color-selected: rgb(161, 125, 7);
}

ion-icon {
  --ion-text-color-rgb: rgb(255, 255, 255);
}

ion-tab-bar {
  --color: rgb(73, 73, 73);
  --color-selected: rgb(192, 13, 82);
}
ion-button {
  --background: rgb(9, 87, 151);
  color: white;
}

ion-toolbar {
  color: white;
  text-align: center;
  --background: #a11b3a;
}
