@import "/md3/theme.css";

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ion-palette-dark ion-content {
  --background: none;
  --md-sys-color-surface: none;
}

.ion-palette-dark a {
  color: white;
}

.ion-palette-dark ion-card {
  --md-sys-color-surface: none;
  --color: rgb(211, 126, 164);
}
.ion-palette-dark ion-icon {
  --ion-text-color-rgb: rgb(12, 11, 11);
}

.ion-palette-dark ion-button {
  --ion-color: rgb(4, 138, 104);
  color: white;
}
.ion-palette-dark ion-text {
  --ion-color: rgb(4, 138, 104);
  color: white;
}
.ion-palette-dark ion-toolbar {
  --background: rgb(70, 13, 40);
  --color-selected: var(--md-sys-color-secondary-container);
  --md-sys-color-on-surface-variant: rgb(131, 110, 110);
}

.ion-palette-dark ion-tab-bar {
  --background: rgb(27, 4, 15);
  --color-selected: var(--md-sys-color-secondary-container);
  --md-sys-color-on-surface-variant: rgb(131, 110, 110);
}

.ion-palette-dark ion-card {
  --md-sys-color-surface: none;
  --color: rgb(207, 114, 114);
  color: white;
  --background: rgb(82, 29, 42);
}

.ion-palette-dark ion-card ion-select {
  color: white;
}
.ion-palette-dark ion-text {
  --ion-color-base: white !important;
}

.ion-palette-dark ion-tab-bar ion-tab-button.tab-selected {
  --md-sys-color-on-surface: --md-sys-color-secondary;
  color: var(--md-sys-color-on-surface);
  --color: var(--md-sys-color-on-surface);
}

.ion-palette-dark .sc-ion-searchbar-md-h {
  --background: rgb(113, 92, 92);
}

ion-icon {
  --ion-text-color-rgb: rgb(255, 255, 255);
}

ion-tab-bar {
  --color: rgb(252, 246, 246);
  --color-selected: rgb(192, 13, 82);
}

ion-button {
  --background: rgb(9, 87, 151);
  color: white;
}

ion-toolbar {
  color: white;
  text-align: center;
  --background: #a11b3a;
}

.sc-ion-searchbar-md-h {
  height: 56px;
  --border-radius: 56px;
}
/*
ion-list {
  --ion-item-background: transparent;
  --ion-background-color: transparent;
  background: transparent;
}
*/

ion-list {
  min-height: 100% !important;
}

.icon-info {
  --ion-text-color-rgb: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border: 1px solid;
  border-radius: 360px;
  margin: 0 10px;
  width: 16px;
  height: 16px;
  padding: 3px;
  box-sizing: border-box !important;
}
@media (prefers-color-scheme: dark) {
  .icon-info {
    background-color: rgb(255, 255, 255);
  }
}
